.git/
data/sessions/*
etc/docker/
test/
.*.sw*
.*.un~
.caddy.env
.dockerignore
.env
.gitignore
.sw*
Gruntfile.js
LICENSE.md
README.md
TODO.md
docker-*.*
package-lock.json
package.json
phpcs.xml
phpunit.xml.dist
