[submodule "vendor/SkeletonCss"]
	path = vendor/SkeletonCss
	url = git://mwop.net/SkeletonCss.git
[submodule "vendor/PhlyComic"]
	path = vendor/PhlyComic
	url = git://mwop.net/PhlyComic.git
[submodule "vendor/ZendFramework"]
	path = vendor/ZendFramework
	url = git://github.com/zendframework/zf2.git
[submodule "vendor/PhlyContact"]
	path = vendor/PhlyContact
	url = git://mwop.net/PhlyContact.git
[submodule "vendor/PhlyCommon"]
	path = vendor/PhlyCommon
	url = git://mwop.net/PhlyCommon
[submodule "vendor/PhlyBlog"]
	path = vendor/PhlyBlog
	url = git://mwop.net/PhlyBlog.git
