.phpcs_cache
.phpunit.result.cache
.puli/
.tmp/
config/autoload/*local.php
config/development.config.php
data/cache/instagram/*
data/cache/posts/*
data/comics/*.html
data/comics.phtml
data/feeds/*.xml
data/github-feed.json
data/github-links.phtml
data/homepage.posts.json
data/homepage.posts.php
data/instagram.feed.php
data/redis/
data/photos.db
data/posts.db
data/search_terms.json
data/sessions/
data/tag-cloud.phtml
docker-stack.yml
log/
node_modules/
public/css/
public/js/
public/search_terms.json
public/service-worker.js
vendor/
.acme.env
.env
.*.env
*.log
*.zpk
certdata.txt
