version: '3.2'

services:
  php:
    image: "mwop/mwopswoole:{mwopswoole}"
    env_file:
      - .env
    deploy:
      restart_policy:
        condition: on-failure
        window: 3s

  caddy:
    image: "mwop/mwopswoolecaddy:{mwopswoolecaddy}"
    env_file:
      - .caddy.env
    depends_on:
      - php
    deploy:
      restart_policy:
        condition: on-failure
        window: 5s
    volumes:
      - /data/caddy:/root/.caddy
    ports:
      - "80:80"
      - "443:443"

volumes:
  caddy-certificate-volume:
