version: '3.2'

services:
  php-fpm:
    image: "mwop/mwopphp:{mwopphp}"
    env_file:
      - .env
    deploy:
      restart_policy:
        condition: on-failure
        window: 3s

  nginx:
    image: "mwop/mwopnginx:{mwopnginx}"
    hostname: "nginx"
    depends_on:
      - php-fpm
    deploy:
      restart_policy:
        condition: on-failure
        window: 5s

  caddy:
    image: "mwop/mwopcaddy:{mwopcaddy}"
    env_file:
      - .caddy.env
    depends_on:
      - nginx
    deploy:
      restart_policy:
        condition: on-failure
        window: 5s
    volumes:
      - /data/caddy:/root/.caddy
    ports:
      - "80:80"
      - "443:443"

volumes:
  caddy-certificate-volume:
