https://{$CADDY_WEB_HOST} {
    proxy / php:9000 {
        transparent
        header_downstream -Server
    }
    header / Strict-Transport-Security "max-age=31536000;"
    gzip
    tls {$CADDY_TLS_EMAIL}
}

http://{$CADDY_WEB_HOST}, http://www.{$CADDY_WEB_HOST}, https://www.{$CADDY_WEB_HOST} {
    redir https://{$CADDY_WEB_HOST}{uri}
}
