# CRONTAB file for www-data
SHELL=/bin/bash

# Update github feed
5,20,35,50 * * * * (cd /var/www/mwop.net ; php bin/mwop.net github-links)

# Fetch comics
0 10 * * * (cd /var/www/mwop.net ; php vendor/bin/phly-comic.php fetch-all --output=data/comics.mustache)
