<div class="grid_9 content blog">
{{#entity_updated}}
<h2 class="notification">Entry updated</h2>
{{/entity_updated}}
<h2>{{title}}</h2>
<div class="content">
    {{{body}}}
    {{{extended}}}
</div>
</div>

<div class="grid_3 sidebar blog">
    <div class="metadata">
        <p>
            Posted by <a href="/blog/author/{{author}}">{{author}}</a> on
            <b>{{created}}</b> and last updated on <b>{{updated}}</b>.
        </p>

        <p>
            Defined tags for this entry: 
            <span class="tags">{{{tags}}}</span>
        </p>
    </div>
</div>
