<div class="grid_9 content blog">
{{#entity_updated}}
<h2 class="notification">Entry updated</h2>
{{/entity_updated}}
<h2>{{title}}</h2>
<div class="content">
    {{{body}}}
    {{{extended}}}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_developer = 1;
        var disqus_shortname = '{{disqusKey}}';
        var disqus_identifier = '{{id}}';
        var disqus_url = '{{url}}';
        var disqus_title = '{{title}}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
</div>

<div class="grid_3 sidebar blog">
    <div class="metadata">
        <ul>
            <li>Posted by <a href="{{author_url}}">{{author}}</a>.</li> 
            <li>Posted on <b>{{created}}</b>.</li>
            <li>Last updated on <b>{{updated}}</b>.</li>
        </ul>
    </div>

    <div class="metadata">
        <h4>Tags for this entry</h4>
        <p class="tags">{{{tags}}}</p>
    </div>

    {{>blog/blogroll}}
</div>
