<h4 class="entry"><a href="{{url}}">{{title}}</a></h4>

<div class="grid_4 entry date">{{created}}</div>
<div class="grid_4 entry tags">In {{{tags}}}</div>
<div class="clear"></div>

<div class="entry body">{{{body}}}</div>

<p><a href="{{url}}">Continue reading...</a></p>
