<h4 class="entry"><a href="/blog/{{id}}">{{title}}</a></h4>

<div class="grid_4 tags">{{{tags}}}</div>
<div class="grid_4 date">{{created}}</div>
<div class="clear"></div>

<div class="body">{{{body}}}</div>

<p><a href="/blog/{{id}}">Continue reading...</a></p>
