{{%IMPLICIT-ITERATOR}}
{{%SUB-VIEWS}}
<h2>Entries</h2>
<div class="content">
    <ul class="entity_list">
    {{#entities}}
    <li>{{> blog/entity-short}}</li>
    {{/entities}}
    </ul>
</div>
{{paginator}}
