{{%IMPLICIT-ITERATOR}}
{{%SUB-VIEWS}}
<div class="grid_9 content blog">
    {{#title}}<h2>{{text}}</h2>{{/title}}
    {{^title}}<h2>Entries</h2>{{/title}}

    {{#entities}}
    {{> blog/entity-short}}
    {{/entities}}

    {{paginator}}
</div>

<div class="grid_3 sidebar blog">
    {{>blog/blogroll}}
</div>
