@font-face {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: normal;
    src: local('Cardo'), url('/css/Application/fonts/Cardo99s.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url('/css/Application/fonts/Lato-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Droid Sans Mono';
    font-style: normal;
    font-weight: normal;
    src: local('Droid Sans Mono'), local('DroidSansMono'), url('/css/Application/fonts/DroidSansMono.woff') format('woff');
}

body {
}

h1, h2, h3, h4 {
    font-family: 'Cardo', arial, serif;
}

a {
    color: #676767;
}

header {
    margin-bottom: 1em;
    background-color: #FFFFFF;
}

header .main_title {
    font-family: Cardo;
    font-size: 1.8em;
    font-style: oblique;
    text-align: top;
}

#menu {
    background-color: #F3F3F3;
    border-top: 1px dotted #676767;
    border-bottom: 1px dotted #676767;
}

#menu nav {
    list-style-type: none;
    font-family: "Cardo", arial, serif;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 0.5em 0 0 0;
    margin: 0;
    margin-left: 1em;
}

#menu nav li {
    display: inline;
    list-style: none;
    padding-right: 1em;
}

#menu nav li a {
    text-decoration: none;
    color: #000000;
}

#menu nav li a:hover {
    font-style: bolder;
    font-size: 133%;
}

.divider {
    border-top: 1px dotted #676767;
}

footer.columns {
    margin-top: 1em;
    border-top: 1px dotted #676767;
    padding-top: 1em;
}

.footer h4 {
    border-top
    font-size: 1.5em;
    text-align: left;
}

.content, .sidebar {
    background-color: #FFFFFF;
    padding: 1em 0;
}

.spacer {
    height: 1em;
}

.content {
    overflow: auto;
}

.content ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}

.sidebar ul {
    list-style-type: none;
}

article.resume section {
    clear: both;
}

dl.resume dt {
    clear: both;
    float: left;
    width: 33%;
    border-top: 1px dotted #676767;
    padding-top: 3px;
    padding-bottom: 0.5em;
    font-family: 'Cardo', arial, serif;
    font-size: 1.2em;
    font-weight: bold;
}

dl.resume dd {
    float:left;
    width:66%;
    border-top: 1px dotted #676767;
    padding-top: 3px;
    padding-bottom: 0.5em;
}

dl.resume dd p.metadata {
    font-style: oblique;
}

.mobile {
    text-align: center;
}

.home .omega {
    text-align: right;
}
