<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuite name="mwop Test Suite">
        <directory>./</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">../library/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="testdox-text" target="./log/testdox.txt" />
    </logging>
</phpunit>
