@font-face {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: normal;
    src: local('Cardo'), url('/css/fonts/Cardo99s.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url('/css/fonts/Lato-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Droid Sans Mono';
    font-style: normal;
    font-weight: normal;
    src: local('Droid Sans Mono'), local('DroidSansMono'), url('/css/fonts/DroidSansMono.woff') format('woff');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url('/css/fonts/Libre-Baskerville-Normal.woff') format('woff');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'), url('/css/fonts/Libre-Baskerville-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url('/css/fonts/Libre-Baskerville-Italic.woff') format('woff');
}
