body {
  padding-top: 70px;
  background-color: #000000;
}

.main_title {
  color: #FFFFFF;
}

.content-window {
  background-color: #FFFFFF;
}

a {
  color: #676767;
}

kbd {
  font-weight: bold;
}

code.hl {
  background-color: #E6E6E6;
}

.divider {
  border-top: 1px dotted #676767;
}

footer {
  margin-top: 1em;
  border-top: 1px dotted #676767;
  padding-top: 1em;
}

footer h4 {
  font-size: 1.5em;
  text-align: left;
}

footer .copyright {
  color: #FFF;
  margin-top: 0.5em;
  text-align: center;
  font-size: 80%;
}

.content, .sidebar {
  background-color: #FFFFFF;
  padding: 1em 0;
}

.spacer {
  height: 1em;
}

.content {
  overflow: auto;
}

/*
.content ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}
*/

.sidebar ul {
  list-style-type: none;
}

article.resume section {
  clear: both;
}

dl.resume dt {
  clear: both;
  float: left;
  width: 33%;
  border-top: 1px dotted #676767;
  padding-top: 3px;
  padding-bottom: 0.5em;
  font-family: 'Georgia', Times, serif;
  font-size: 1.2em;
  font-weight: bold;
}

dl.resume dd {
  float:left;
  width:66%;
  border-top: 1px dotted #676767;
  padding-top: 3px;
  padding-bottom: 0.5em;
}

dl.resume dd p.metadata {
  font-style: oblique;
}

.mobile {
  text-align: center;
}

.home.alpha {
  margin-right: -1px;
  border-right: 1px dotted #676767;
}

.home.middle {
  text-align: center;
}

.home.omega {
  margin-left: -1px;
  padding-left: 1em;
  border-left: 1px dotted #676767;
}

aside.home .block {
  height: 100%;
  padding-left: 1em;
  border-left: 1px dotted #676767;
}

#tweets {
  min-height: 250px;
  height: auto !important;
  height: 250px;
}

sup {
  font-size: 75%;
  vertical-align: super;
}
