{{%SUB-VIEWS}}
<html>
<head>
    <title>Blog Experiment</title>
    <link href="" rel="stylesheet"></link>
    <link href="/css/reset.css" rel="stylesheet"></link>
    <link href="/css/text.css" rel="stylesheet"></link>
    <link href="/css/960.css" rel="stylesheet"></link>
    <link href="/css/mobile-demo-desktop.css" rel="stylesheet"></link>
    <link href="/css/site.css" rel="stylesheet"></link>
{{#layout}}{{#css}}
    <link href="{{url}}" rel="stylesheet"></link>
{{/css}}{{/layout}}

    <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojo/dojo.xd.js"
        djConfig="isDebug:true, parseOnLoad:true"></script> 
{{#layout}}{{#js}}
    {{#files}}<script src="{{url}}"></script>{{/files}}
    {{#source}}<script language="JavaScript">
        {{{code}}}
    </script>{{/source}}
{{/js}}{{/layout}}

</head>
<body>
<div class="container_12">
    <div class="grid_12 header">header</div>
    <div class="clear"></div>

    {{content}}
    <div class="clear"></div>

    <div class="grid_4 footer about">About</div>
    <div class="grid_4 footer projects">Projects</div>
    <div class="grid_4 footer tags">
        {{#layout}}{{#footer}}{{#tags}}
        <h4>Tag Cloud</h4>
        {{cloud}}
        {{/tags}}{{/footer}}{{/layout}}
    </div>
    <div class="clear"></div>
</div>
</body>
</html>
