{{%SUB-VIEWS}}
<html>
<head>
    <title>Blog Experiment</title>

    <link href="/css/reset.css" rel="stylesheet" type="text/css"></link>
    <link href="/css/text.css" rel="stylesheet" type="text/css"></link>
    <link href="/css/960.css" rel="stylesheet" type="text/css"></link>
    <link href="/css/site.css" rel="stylesheet" type="text/css"></link>
{{#layout}}{{#css}}
    <link href="{{url}}" rel="stylesheet" type="text/css"></link>
{{/css}}{{/layout}}

    <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojo/dojo.xd.js"
        djConfig="isDebug:true, parseOnLoad:true"></script> 
{{#layout}}{{#js}}
    {{#files}}<script src="{{url}}"></script>{{/files}}
    {{#source}}<script language="JavaScript">
        {{{code}}}
    </script>{{/source}}
{{/js}}{{/layout}}

</head>
<body>
<div class="container_12">
    <div class="grid_12" id="header">
        <a href="/"><img src="/images/logo.gif" height="37" width="37"/></a>
        <span class="main_title">phly, boy, phly: matthew weier o'phinney</span>
    </div>
    <div class="clear"></div>

    {{content}}
    <div class="clear"></div>

    <div class="grid_12" id="footer">
        <div class="grid_4 about">
            <h4>About</h4>
        </div>
        <div class="grid_4 projects">
            <h4>Projects</h4>
        </div>
        {{! making this grid_3 to correct overflow issue }}
        <div class="grid_3 tags">
            {{#layout}}{{#footer}}{{#tags}}
            <h4>Tag Cloud</h4>
            {{cloud}}
            {{/tags}}{{/footer}}{{/layout}}
        </div>
    </div>
</div>
</body>
</html>
