<div class="paginationControl">
    {{! First page link }}
    {{#first}}<a href="{{url}}" class="first">&lt;&lt; First</a>{{/first}} |

    {{! Previous page link }}
    {{#previous}}
    <a href="{{page}}"> &lt; Previous </a> |
    {{/previous}}

    {{! Numbered page links }}
    {{#pages}}
    {{#current}}{{number}}{{/current}}{{#page}}<a href="{{url}}">{{number}}</a>{{/page}} | 
    {{/pages}}

    <!-- Next page link -->
    {{#next}}
    <a href="{{page}}"> Next &gt;</a> |
    {{/next}}

    {{! Last page link }}
    {{#last}}<a href="{{url}}" class="last"> Last &gt;&gt;</a>{{/last}}
</div>
