SetEnv APPLICATION_ENV development

RewriteEngine On

# The line below needs to be added to the vhost definition in order
# to properly work (otherwise, redirects to a filesystem path)
# RewriteRule ^/matthew/feeds/index.rss2 /blog.xml?type=rss [R=301,L]         
# RewriteRule ^/matthew/feeds/atom.xml /blog.xml [R=301,L]                    
# RewriteRule ^/matthew/archives/(\d{4}).html /blog/year/$1 [R=301,L]         
# RewriteRule ^/matthew/archives/(\d{4})/(\d{2}).html /blog/month/$1/$2 [R=301,L]
# RewriteRule ^/matthew/archives/(\d{4})/(\d{2})/(\d{2}).html /blog/day/$1/$2/$3 [R=301,L]
# RewriteRule ^/matthew/archives/([^/]+).html /blog/$1 [R=301,L]              
# RewriteRule ^/matthew/plugin/tag/([^/]+) /blog/tag/$1 [R=301,L]             
# RewriteRule ^/matthew/categories/\d+-([^/]+).rss /blog/tag/$1.xml?type=rss [R=301,L]
# RewriteRule ^/matthew/categories/\d+-([^/]+) /blog/tag/$1 [R=301,L]         
#                                                                             
# # tag feeds                                                                 
# RewriteCond %{QUERY_STRING} ^serendipity\[tag\]=([^&=]+)$                   
# RewriteRule ^/matthew/rss\.php$ /blog/tag/%1.xml?type=rss [R=301,L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule !\.(js|ico|gif|jpg|png|css)$ index.php [NC,L]

