/* My theme overrides */

/* General tags */
html, body {
    height: 100%;
}

body {
    font-family: $font-family-serif;
    padding-top: 70px;
}

a {
  color: #676767;
}

footer {
  border-top: 1px dotted #676767;
  padding-top: 1em;

  h4 {
    font-size: 1.5em;
    text-align: left;
  }
  
  a {
    text-decoration: none;
    border-bottom: 1px dotted #676767;
  }
  
  a:hover {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #FFF;
  }
  
  .copyright {
    margin-top: 0.5em;
    font-size: 80%;
  }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans-serif;
    font-weight: bolder;

    a {
        color: $white;
    }
}

kbd {
  font-weight: bold;
}

li {
    font-family: $font-family-serif;
    font-size: 1em;
}

sup {
  font-size: 75%;
  vertical-align: super;
}

/* Tags with specific classes */

article.resume section {
  clear: both;
}

aside.home .block {
  height: 100%;
  padding-left: 1em;
  border-left: 1px dotted $gray-600;
}

div.comic {
  margin-right: 1em;
  margin-bottom: 1em;

  img {
    max-width: 100%;
  }
}

dl.resume {
  dt {
    clear: both;
    float: left;
    width: 33%;
    border-top: 1px dotted #676767;
    padding-top: 3px;
    padding-bottom: 0.5em;
    font-family: 'Georgia', Times, serif;
    font-size: 1.2em;
    font-weight: bold;
  }

  dd {
    float:left;
    width:66%;
    border-top: 1px dotted #676767;
    padding-top: 3px;
    padding-bottom: 0.5em;

    p.metadata {
      font-style: oblique;
    }
  }
}

img.max-width {
  max-width: 100%;
}

/* Classes */
.comics {
    h4 {
        border-top: 1px solid $gray-700;
        padding-top: 0.5em;
    }
}

.content, .sidebar {
  padding-top: 1em;
  padding-bottom: 1em;
}

.content {
  overflow: auto;
}

.divider {
  border-top: 1px dotted #676767;
}

.home.middle {
  text-align: center;
}

.main_title {
  font-size: 0.8em;
  color: $gray-200;
}

.mobile {
  text-align: center;
}

.navbar {
    font-family: $font-family-serif;
    border: none;
}

.navbar a:hover {
    text-decoration: none;
    /* border-bottom: 1px solid $gray-800; */
}

.navbar-brand {
    font-size: ceil($font-size-base * 1.25);
}

.searchresults {
  position: fixed;
  top: 65px;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 100;
}

.sidebar ul {
  list-style-type: none;
}

.spacer {
  height: 1em;
}

/* Identifiers */

#tweets {
  min-height: 250px;
  height: auto !important;
  height: 250px;
}

#__ss_4480868 {
  width: 425px;
}

#__ss_4480868 span.talk-title {
  display: block;
  margin: 12px 0 4px;
}

#__ss_4480868 div.view-more {
  padding: 5px 0 12px;
}

/* Media-specific */
@media screen and (min-width: 992px) {
  .home.alpha {
    margin-right: -1px;
    border-right: 1px dotted $gray-600;
  }

  .home.omega {
    margin-left: -1px;
    padding-left: 1em;
    border-left: 1px dotted $gray-600;
  }
}

/* Algolia autocomplete widget */
.algolia-autocomplete {
    width: 100%;

    .aa-input, .aa-hint {
        width: 100%;
    }

    .aa-hint {
        color: $gray-700;
    }

    .aa-dropdown-menu {
        width: 100%;
        background-color: $body-bg;
        border: 1px solid $black;
        border-top: none;
    }

    .aa-dropdown-menu .aa-suggestion {
        cursor: pointer;
        padding: 5px 4px;
    }

    .aa-dropdown-menu .aa-suggestion.aa-cursor {
        background-color: $gray-700;
    }

    .aa-dropdown-menu .aa-suggestion em {
        font-weight: bold;
        font-style: normal;
    }
}

/* Blog styles */
.blog {
  a.u-url {
    text-decoration: none;
  }

  blockquote {
    border-left: 5px solid $gray-600;
    padding-left: 1em;
  }
  
  h2.p-name {
    margin-top: 0;
  }

  h4.entry {
    font-size: 2em;
    margin-top: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  section {
    padding-bottom: 2em;
  }


  .banner {
    position: relative;

    h2.p-name {
      position: absolute;
      bottom: 1em;
      left: 0.5em;
      mix-blend-mode: color-dodge;
    }
  }
  
  .single-entry a {
    text-decoration: underline;
  }

  .sidebar {
    color: $gray-500;
    font-style: italic;

    &:hover {
      color: $white;
    }

    li {
      padding-left: 0;
      margin-left: 0;
      list-style-type: none;
      text-indent: -5px;
      font-family: 'Libre Baskerville', serif;

      &:before {
        content: "-";
        position: relative;
        left: -5px;
      }

      a {
        color: $gray-500;
        text-decoration: none;

        &:hover {
          color: $white;
        }
      }
    }
  }
}

.cloud {
  ul {
    display: block;
    text-align: left;
  }

  ul li {
    display: inline;
    list-style: none;
    padding: 0;
  }
}

.e-content {
  font-size: 1.4em;
  line-height: 1.6em;
}

.post-list {
  border-bottom: 1px dotted #676767;
  margin-bottom: 1em;
}

.single-entry {
  .sidebar {
    padding-top: 3.5em;
  }
}

.social-media {
  padding-bottom: 1em;
}

/* Now page styles */
.now {
  h4 {
    font-size: 2em;
    margin-top: 1em;
  }

  p {
    font-size: 1.4em;
    line-height: 1.6em;
  }

  li {
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
    text-indent: -5px;
    font-family: 'Libre Baskerville', serif;

    &:before {
      content: "-";
      position: relative;
      left: -5px;
    }
  }
}

/* Art styles */

.card.photo-thumbnail {
    width: 180px;
}

.photo .card-text {
    font-size: 1.5em;
}

.photo-link {
    position: absolute;
    right: 0;
    bottom: 0;
}
