{{!form}}
{{%IMPLICIT-ITERATOR}}
<div class="grid_9 admin content">
<h2>Create blog entry</h2>
<form class="blog" action="{{url}}" method="post">
<dl>
    <dt><label for="title">Title</label></dt>
    <dd>
        <input name="title" type="text" value="" />
        {{#errors}}
            {{#title}}
                <li>{{.}}</li>
            {{/title}}
        {{/errors}}
    </dd>

    <dt><label for="author">Author</label></dt>
    <dd>
        <input name="author" type="text" value="" />
        {{#errors}}
            {{#author}}
                <li>{{.}}</li>
            {{/author}}
        {{/errors}}
    </dd>

    <dt><label for="body">Content</label></dt>
    <dd>
        <textarea name="body"></textarea>
        {{#errors}}
            {{#body}}
                <li>{{.}}</li>
            {{/body}}
        {{/errors}}
    </dd>

    <dt><label for="extended">Extended Content</label></dt>
    <dd>
        <textarea name="extended"></textarea>
        {{#errors}}
            {{#extended}}
                <li>{{.}}</li>
            {{/extended}}
        {{/errors}}
    </dd>
</dl>
<input name="save" type="submit" value="Save" />
</form>
</div>

<div class="grid_3 admin sidebar">
    <h4>Admin Sidebar</h4>
</div>
