{{<layout::layout}}
{{$title}}Welcome{{/title}}
{{$content}}
<article class="col-md-4 alpha home">
    <h2>Welcome!</h2>

    <p>
        I'm Matthew Weier O'Phinney. I am:
    </p>

    <ul>
        <li>A husband.</li>
        <li>A father of two wonderful children.</li>
        <li>A <a href="http://php.net">PHP</a> developer and framework architect.</li>
        <li>A frequent PHP conference speaker.</li>
        <li>An open source software developer and advocate.</li>
        <li>A brewer of beer.</li>
        <li>A cyclist.</li>
        <li>A martial arts practitioner.</li>
    </ul>

    <p>
        I <a href="/blog">blog</a> reasonably regularly, typically on topics related
        to open source development. Feel free to <a href="/contact">contact me</a>.
    </p>
</article>

<aside class="col-md-4 middle home">
    <img src="/images/mwop-coffee-dpc09.jpg" alt="Portrait by Rob Allen" width="320" /><br />
    <em>Photo &copy; All rights reserved by <a href="https://www.flickr.com/photos/akrabat/">Rob Allen</a></em>
</aside>

<aside class="col-md-4 omega home">
    <h3>Recent Blog Posts</h3>

    <ul>
    {{#posts}}
      <li><a href="{{{siteurl}}}"><img src="{{{favicon}}}" alt="{{sitename}}" title="{{sitename}}" width="16"></a>&nbsp;<a href="{{link}}">{{title}}</a></li>
    {{/posts}}
    </ul>

    <h3>Recent Github Activity</h3>

    <ul id="github">
        {{>github-links}}
    </ul>

    <p><em><a href="https://github.com/weierophinney?tab=activity">Read more</a></em></p>

    <a class="twitter-timeline" href="https://twitter.com/mwop" data-widget-id="269876420560420864">Tweets by @mwop</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</aside>

<div class="h-card vcard hidden">
  <img class="u-photo photo" width="50" src="https://avatars0.githubusercontent.com/u/25943?v=3&u=79dd2ea1d4d8855944715d09ee4c86215027fa80&s=140" alt="mwop">,
  <a class="p-name fn u-url url" href="https://mwop.net/" rel="me">Matthew Weier O'Phinney</a>,
  <a class="u-email email" href="mailto:matthew@weierophinney.net">matthew@weierophinney.net</a>,
  <span class="p-nickname nickname">mwop,weierophinney</span>,
  <div class="p-note note">
    <p>
      <a href="https://mwop.net/" rel="author">Matthew Weier O'Phinney</a> is a
      web professional and architect, technical writer, and speaker. Matthew
      works as a Principal Engineer at <a href="http://www.zend.com">Zend
        Technologies</a> (a <a href="http://www.roguewave.com">RogueWave
        company</a>, where he leads the Zend Framework and Apigility
      projects, providing open source tools for building web applications and
      APIs in PHP. He blogs at <a href="https://mwop.net/blog">https://mwop.net/blog</a>
      and is <a href="https://twitter.com/mwop">@mwop</a> on Twitter.
    </p>
  </div>
</div>
{{/content}}
{{/layout::layout}}
