{{<layout::layout}}
{{$title}}R&eacute;sum&eacute;{{/title}}}
{{$content}}
<article class="col-md-12 resume">
    <section>
        <h2>Personal Statement</h2> 

        <p> 
            I am an open source software architect, specializing in PHP.
        </p> 

        <p> 
            I am currently project lead for <a href="https://framework.zend.com/">Zend
                Framework</a>, a project with which I have been involved since before 
            the first public preview release, and which has expanded to include
            <a href="https://apigility.org">Apigility</a> and
            <a href="https://getexpressive.org">Expressive</a>. I am a Zend
            Certified Engineer, and a member of the Zend Education Advisory
            Board, the group responsible for authoring the Zend Certification
            Exam. I contribute to a number of open source projects, blog on
            PHP-related topics, and present talks and tutorials related to PHP
            development and the projects to which I contribute.
        </p> 
    </section>
    
    <section>
        <h3 id="work">Selected Work Experience</h3> 

        <dl class="resume">
            <dt><a href="https://www.zend.com/">Zend Technologies, Inc.</a><br />
                (<a href="https://www.roguewave.com">RogueWave Software</a> since October 2015)</dt>
            <dd>
                <p class="metadata">
                    Principal Engineer (April 2013 &#8212; Present)<br />
                    Project Lead, Zend Framework (April 2009 &#8212; Present)<br />
                    Software Architect, Zend Framework (April 2008 &#8212; April 2009)
                </p>

                <p>
                    Duties include scoping Zend Framework, Apigility, and
                    Expressive releases; interfacing with Zend customers and
                    partners; acting as community liaison; creating architecture
                    guidelines for all projects under the Zend Framework
                    umbrella; participation with standards groups (specifically
                    <a href="https:/www.php-fig.org">PHP-FIG</a>); and more.
                </p>
            </dd>

            <dt><a href="https://www.zend.com/">Zend Technologies, Inc.</a></dt>
            <dd>
                <p class="metadata">
                    PHP Developer <br />
                    September 2005 &#8212; April 2008
                </p>

                <p>
                    Duties included maintenance and development of public-facing company
                    websites; creation and maintenance of middle-tier web service layer
                    used by public websites and internal processes; site architecture
                    and team development; contribution to Zend Framework; and more.
                </p>
            </dd> 
            
            <dt><a href="http://www.garden.org">National Gardening Association</a></dt> 
            <dd>
                <p class="metadata"> 
                    Webmaster and IT Specialist<br /> 
                    August 2003 &#8212; September 2005
                </p> 

                <p> 
                    Duties included development and maintenance of NGA web properties;
                    systems administration of both public and internal network
                    infrastructure, including LVS-HA web/database cluster, bulk mail
                    system, and company email server. 
                </p> 
            </dd> 
        </dl> 
    </section>

    <section>
        <h3 id="talks">Presentations</h3> 

        <p>
            I've been speaking at PHP-related conferences and user groups since October
            2005, as well as performing online webinars, participating in podcasts, and
            more. I've spoken at dozens of conferences, delivering well over 100
            presentations. Below are a few select presentations; <a href="/contact">contact me</a>
            if you need a link to a presentation not listed here.
        </p>
        
        <dl class="resume">
            <dt><a href="https://slides.mwop.net/2018-06-12-Middleware-For-That/">There's a Middleware for That</a></dt>
            <dd>
                <p>
                    <a href="https://www.meetup.com/mn-php/events/250795278/">Minnesota PHP User Group</a><br />
                    12 June 2018
                </p>
            </dd>

            <dt><a href="https://slides.mwop.net/2017-10-25-Middleware-Express/">The Middleware Express</a></dt>
            <dd>
                <p class="metadata">
                    ZendCon (Keynote)<br />
                    October 2017
                </p>
            </dd>

            <dt><a href="https://slides.mwop.net/2015-02-07-PHP-Speaks-HTTP/">PHP Speaks HTTP?</a></dt>
            <dd>
                <p class="metadata">
                    PHPBenelux<br />
                    February 2015
                </p>
            </dd>

            <dt><a href="https://slides.mwop.net/2014-02-25-Apigility/">Apigility</a></dt>
            <dd>
                <p class="metadata">
                    PHPBenelux<br />
                    January 2014
                </p>
            </dd>

            <dt><a href="https://slides.mwop.net/2012-01-28-Vim/VimUnixToolchain.html">Vim + Unix Toolchain == IDE</a></dt>
            <dd>
                <p>
                    <a href="http://conference.phpbenelux.eu/2012/">PHPBenelux 2012</a><br />
                    January 2012
                </p>
            </dd>
        </dl> 
    </section>
    
    <section>
        <h3 id="articles">Publications</h3> 
        
        <dl class="resume">
            <dt>Real-World Solutions for Developing High-Quality PHP Frameworks and Applications</dt>
            <dd>
                <p class="metadata">
                    edited by Sebastian Bergmann and Stefan Priebsch<br />
                    December 2010, Hanser (German edition)<br />
                    May 2011, Wrox (English edition)
                </p>

                <p>
                    Contributed a case study entitled "Testing Service Oriented APIs",
                    detailing unit testing and integration testing approaches for web
                    services, using approaches learned in testing Zend Framework.
                </p>
            </dd>

            <dt><a href="http://www.phparch.com/magazine/2009-2/september/">php|architect: Lifecyle of a Bug</a></dt>
            <dd>
                <p class="metadata">September 2009</p>
            </dd>

            <dt><a href="http://www.phparch.com/magazine/2009-2/june/">php|architect:
                Zend Framework</a></dt>
            <dd>
                <p class="metadata">June 2009</p>
            </dd>

            <dt><a href="http://www.phparch.com/magazine/2009-2/february/">php|architect: Optimizing Dojo and Zend Framework Integration</a></dt>
            <dd>
                <p class="metadata">
                    February 2009
                </p>
            </dd>

            <dt><i>The PHP Anthology: 101 Essential Tips, Tricks & Hacks,  2nd Edition</i></dt> 
            <dd>
                <p class="metadata"> 
                    with Ben Balbo, Harry Fuecks, Davey Shafik, and Ligaya Turmelle<br /> 
                    October, 2007<br /> 
                    SitePoint Pty, Ltd, Australia
                </p> 

                <p> 
                    Contributed three chapters to this edition, including Chapter 3,
                    "Error Handling"; Chapter 12, "XML and Web Services"; and Chapter
                    13, "Best Practices".
                </p> 
            </dd> 
        </dl> 
    </section>
    
    <section>
        <h3 id="oss">Open Source Contributions</h3> 
        
        <dl class="resume">
            <dt><a href="https://github.com/weierophinney">GitHub</a></dt>
            <dd>
                Contributions made via <a href="http://github.com/">GitHub</a>.
            </dd>

            <dt><a href="https://github.com/weierophinney/phly_mustache">Phly_Mustache</a></dt>
            <dd>
                PHP implementation of <a href="http://mustache.github.com">Mustache</a>,
                a templating language.
            <dd>

            <dt><a href="https://getexpressive.org/">Expressive</a></dt>
            <dd>
                Contributions have been made since the project began.
            </dd>

            <dt><a href="https://apigility.org/">Apigility</a></dt>
            <dd>
                Contributions have been made since before the project began, as
                it was forked from an experiment of my own.
            </dd>

            <dt><a href="https://framework.zend.com/">Zend Framework</a></dt>
            <dd>
                Contributions have been made since January 2006:

                <ul>
                    <li>From January 2006 &#8212; April 2008, as PHP Developer for
                        Zend Technologies</li>
                    <li>From April 2008 &#8212; March 2009, as Software Architect for
                        Zend Framework</li>
                    <li>From April 2009 &#8212; Present, as Project Lead for
                        Zend Framework</li>
                </ul>
            </dd>

            <dt><a href="http://pear.php.net/">PEAR</a></dt> 
            <dd>
                <p class="metadata"> 
                    July 13, 2005 &#8212; Present
                </p> 

                <p> 
                    Lead maintainer for <a href="http://pear.php.net/packages/File_Fortune">File_Fortune</a>.
                </p> 
            </dd> 
            
            <dt><a href="http://cgiapp.sourceforge.net/">Cgiapp</a></dt>
            <dd> 
                <p class="metadata"> 
                    March 2004 &#8212; March 2006
                </p> 

                <p> 
                    PHP port of the perl module CGI::Application.
                </p> 
            </dd> 
        </dl> 
    </section>
</article>
{{/content}}
{{/layout::layout}}
