<div class="h-entry">
    <img class="u-photo photo" width="50" src="https://avatars0.githubusercontent.com/u/25943?v=3&u=79dd2ea1d4d8855944715d09ee4c86215027fa80&s=140" alt="mwop">
    <a class="u-url u-uid p-name" href="{{url}}">{{title}}</a> was originally
    published <time class="dt-published" datetime="{{created_rfc}}">{{created}}</time>
    on <a href="https://mwop.net">https://mwop.net</a> by
    <a rel="author" class="p-author" href="https://mwop.net/">Matthew Weier O'Phinney'</a>.
</div>
