<div class="h-entry">
    <a class="u-url u-uid p-name" href="{{url}}">{{title}}</a> was originally
    published <time class="dt-published" datetime="{{created_rfc}}">{{created}}</time>
    on <a href="https://mwop.net">https://mwop.net</a> by
    <a class="p-author" href="https://mwop.net/">Matthew Weier O'Phinney'</a>.
</div>
