{{<layout::layout}}
{{$title}}{{title}}{{/title}}
{{$links}}
    <link href="/css/blog.min.css" media="screen" rel="stylesheet" type="text/css">
    {{#tag}}
    <link href="{{atom}}" rel="alternate" type="application/atom+xml" title="phly, boy, phly Atom Feed for {{tag}}">
    <link href="{{rss}}" rel="alternate" type="application/rss+xml" title="phly, boy, phly RSS Feed for {{tag}}">
    {{/tag}}
{{/links}}
{{$scripts}}
<script language="JavaScript" src="/js/prism.js"></script>
{{/scripts}}
{{$footer}}{{>tag-cloud}}{{/footer}}
{{$content}}
<div class="row">
    <section class="sixteen columns blog">
        <h2>{{title}}</h2>

        {{^posts}}
        <p>No posts found.</p>
        {{/posts}}

        {{#posts}}
        <div class="row clearfix h-entry">
            <aside class="four columns offset-by-one alpha sidebar blog">
                <p>
                    Written on <time class="dt-published" datetime="{{created_rfc}}">{{created}}</time>.
                    {{#updated}}
                    <br />Last updated on <time class="dt-updated" datetime="{{rfc}}">{{when}}</time>.
                    {{/updated}}
                </p>

                <ul class="tags">
                {{#tags}}
                  <li><a class="p-category" href="{{link}}">{{tag}}</a>
                {{/tags}}
                </ul>

                <div class="p-author h-card">
                  Posted by <a rel="author" class="u-url" href="https://mwop.net/">Matthew Weier O'Phinney</a>
                </div>
            </aside>

            <section class="eleven columns omega">
                <h4 class="entry"><a class="u-url u-uid" href="{{#uri}}{"name": "blog.post", "options": {"id": "{{id}}"}}{{/uri}}">{{title}}</a></h4>

                <div class="entry body p-summary">{{{body}}}</div>

                <p><a href="{{#uri}}{"name": "blog.post", "options": {"id": "{{id}}"}}{{/uri}}">Continue reading...</a></p>
            </section>
        </div>
        {{/posts}}

        {{>pagination}}
    </section>
</div>
{{/content}}
{{/layout::layout}}
