{{<layout::amp}}
{{$title}}{{title}}{{/title}}}
{{$canonical}}{{{url}}}{{/canonical}}
{{$metadata}}
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "@id": "{{url}}",
      "headline": "{{title}}",
      "datePublished": "{{created_rfc}}",
      {{#updated}}
      "dateModified": "{{rfc}}",
      {{/updated}}
      "image": {
        "@type": "ImageObject",
        {{#image}}
        "url": "{{url}}",
        "height": {{height}},
        "width": {{width}}
        {{/image}}
        {{^image}}
        "url": "https://mwop.net/images/mwop-hard-rock-stack-2015.jpg",
        "height": 576,
        "width": 1023
        {{/image}}
      },
      "author": {
        "@type": "Person",
        "name": "Matthew Weier O'Phinney",
        "image": "https://avatars0.githubusercontent.com/u/25943?v=3&u=79dd2ea1d4d8855944715d09ee4c86215027fa80&s=140",
        "url": "https://mwop.net"
      },
      "publisher": {
        "@type": "Organization",
        "name": "mwop.net",
        "image": "https://avatars0.githubusercontent.com/u/25943?v=3&u=79dd2ea1d4d8855944715d09ee4c86215027fa80&s=140",
        "url": "https://mwop.net",
        "logo": {
            "@type": "ImageObject",
            "url": "https://mwop.net/images/favicon/favicon-32x32.png",
            "height": 32,
            "width": 32
        }
      },
      "keywords": "{{keywords}}",
      "mainEntityOfPage": "{{url}}"
    }
{{/metadata}}
{{$content}}
<article class="single-entry h-entry col-md-6 blog">
    <h2 class="p-name"><a class="u-url u-uid" href="{{url}}">{{title}}</a></h2>

    <div class="e-content">
    {{{body}}}

    {{{extended}}}
    </div>

    <div class="p-author h-card hidden">
      Posted by <a class="p-name u-url" href="https://mwop.net/">Matthew Weier O'Phinney</a>,
      <amp-img class="u-photo photo" width="50" height="50" src="https://avatars0.githubusercontent.com/u/25943?v=3&u=79dd2ea1d4d8855944715d09ee4c86215027fa80&s=140" alt="mwop"></amp-img>
    </div>
</article>
{{/content}}
{{/layout::amp}}
