{{<layout::layout}}
{{$title}}{{title}}{{/title}}}
{{$links}}
    <link href="/css/blog.min.css" media="screen" rel="stylesheet" type="text/css">
{{#tags}}
    <link href="{{rss}}" rel="alternate" type="application/rss+xml" title="phly, boy, phly RSS Feed for {{tag}}">
    <link href="{{atom}}" rel="alternate" type="application/atom+xml" title="phly, boy, phly Atom Feed for {{tag}}">
{{/tags}}
{{/links}}
{{$scripts}}
<script language="JavaScript" src="/js/prism.js"></script>
{{/scripts}}
{{$footer}}{{>tag-cloud}}{{/footer}}
{{$content}}
<div class="single-entry h-entry">
    <aside class="col-md-2 col-md-offset-2 hidden-xs sidebar blog">
        <p>
            Written on <time class="dt-published" datetime="{{created_rfc}}">{{created}}</time>.
            {{#updated}}
            <br />Last updated on <time class="dt-updated" datetime="{{rfc}}">{{when}}</time>.
            {{/updated}}
        </p>

        <ul class="tags">
        {{#tags}}
          <li><a class="p-category" href="{{link}}">{{tag}}</a>
        {{/tags}}
        </ul>
    </aside>

    <article class="col-md-6 blog">
        <h2 class="p-name"><a class="u-url u-uid" href="{{url}}">{{title}}</a></h2>

        <div class="e-content">
        {{{body}}}

        {{{extended}}}
        </div>

        <div class="p-author h-card hidden">
          Posted by <a class="p-name u-url" href="https://mwop.net/">Matthew Weier O'Phinney</a>,
          <img class="u-photo photo" width="50" src="https://avatars0.githubusercontent.com/u/25943?v=3&u=79dd2ea1d4d8855944715d09ee4c86215027fa80&s=140" alt="mwop">
        </div>

        <div class="divider"></div>

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_developer = {{{disqus.developer}}};
            var disqus_shortname = '{{{disqus.key}}}';
            var disqus_identifier = '{{id}}';
            var disqus_url = '{{url}}';
            var disqus_title = '{{title}}';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </article>
</div>
{{/content}}
{{/layout::layout}}
