{{<layout::layout}}
{{$title}}Contact{{/title}}}
{{$content}}
<section class="col-md-12 center-block contact">
  <h2>Contact Me</h2>

  <p>
    Feel free to contact me. Please note, however, that I likely will not 
    respond to recruiters, nor to questions that could be asked in public
    forums.
  </p>

  {{#error}}
  <p class="error">
    There were one or more isues with your submission. Please correct them as 
    indicated below.
  </p>

  <pre>
      {{message}}
  </pre>

  {{/error}}

  <form method="post" name="contact" action="{{action}}" id="contact">
    <div class="form-group">
      <label for="from">From (email):</label>
      <input class="form-control" type="text" name="from" value="">
    </div>

    <div class="form-group">
      <label for="subject">Subject:</label>
      <input class="form-control" type="text" name="subject" value="">
    </div>

    <div class="form-group">
      <label for="body">Your message:</label>
      <textarea class="form-control" rows="10" name="body"></textarea>
    </div>

    <div
      class="form-group g-recaptcha"
      data-sitekey="{{recaptcha_pub_key}}"
      data-theme="light"></div>

    <input type="hidden" name="csrf" value="{{csrf}}">
    <button type="submit" class="btn btn-default" name="Send">Send</button>
  </form>
</section>
{{/content}}
{{$scripts}}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{{/scripts}}
{{/layout::layout}}
