{{<layout::layout}}
{{$title}}Thank You{{/title}}}
{{$content}}
<section class="col-md-12 center-block contact">
    <h2>Thank you!</h2>

    <p>
        Your message has been sent!
    </p>
</section>
{{/content}}
{{/layout::layout}}
