{{<layout::layout}}
{{$title}}Thank You{{/title}}}
{{$content}}
<section class="contact">
    <h2>Thank you!</h2>

    <p>
        Your message has been sent!
    </p>
</section>
{{/content}}
{{/layout::layout}}
