<p>
    I'm a husband, a father of two, and web architect by day.
</p>

<ul class="resume">
    <li><a href="/resume">Resume</a></li>
    <li><a href="http://twitter.com/mwop">Twitter (@mwop)</a></li>
    <li><a href="http://www.linkedin.com/in/mweierophinney">LinkedIn</a></li>
    <li><a href="http://www.ohloh.net/accounts/weierophinney">OhLoh</a></li>
    <li><a href="http://resume.github.com/?weierophinney">GitHub</a></li>
    <li><a href="/blog/rss.xml">RSS</a></li>
    <li><a href="/blog/atom.xml">Atom</a></li>
</ul>
