{{<layout}}
{{$title}}{{title}}{{/title}}}
{{$links}}
    <link href="/css/blog.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/css/prism.css" media="screen" rel="stylesheet" type="text/css">
{{/links}}
{{$scripts}}
<script language="JavaScript" src="/js/prism.js"></script>
{{/scripts}}
{{$footer}}{{>tag-cloud}}{{/footer}}
{{$content}}
<div class="row">
    <aside class="four columns offset-by-one alpha sidebar blog">
        <p>
            Written on {{created}}.
            {{#updated}}
            <br />Last updated on {{when}}.
            {{/updated}}
        </p>

        <ul class="tags">
        {{#tags}}
            <li><a href="{{link}}">{{tag}}</a>
        {{/tags}}
        </ul>
    </aside>

    <article class="eleven columns omega blog">
        <h2>{{title}}</h2>

        {{{body}}}

        {{{extended}}}
    </article>
</div>
{{/content}}
{{/layout}}
