{{<layout}}
{{$title}}{{title}}{{/title}}
{{$links}}
    <link href="/css/blog.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/css/prism.css" media="screen" rel="stylesheet" type="text/css">
    {{#tag}}
    <link href="/blog/tag/{{tag}}/atom.xml" rel="alternate" type="application/atom+xml" title="phly, boy, phly Atom Feed for {{tag}}">
    <link href="/blog/tag/{{tag}}/rss.xml" rel="alternate" type="application/rss+xml" title="phly, boy, phly RSS Feed for {{tag}}">
    {{/tag}}
{{/links}}
{{$scripts}}
<script language="JavaScript" src="/js/prism.js"></script>
{{/scripts}}
{{$footer}}{{>tag-cloud}}{{/footer}}
{{$content}}
<div class="row">
    <section class="sixteen columns blog">
        <h2>{{title}}</h2>

        {{^posts}}
        <p>No posts found.</p>
        {{/posts}}

        {{#posts}}
        <div class="row clearfix">
            <aside class="four columns offset-by-one alpha sidebar blog">
                <p>
                    Written on {{created}}.
                    {{#updated}}
                    <br />Last updated on {{when}}.
                    {{/updated}}
                </p>

                <ul class="tags">
                {{#tags}}
                    <li><a href="{{link}}">{{tag}}</a>
                {{/tags}}
                </ul>
            </aside>

            <section class="eleven columns omega">
                <h4 class="entry"><a href="{{path}}">{{title}}</a></h4>

                <div class="entry body">{{{body}}}</div>

                <p><a href="{{path}}">Continue reading...</a></p>
            </section>
        </div>
        {{/posts}}

        {{>pagination}}
    </section>
</div>
{{/content}}
{{/layout}}
