    <header class="sixteen columns">
        <div class="one-half column logo">
            <a href="/"><img src="/images/logo.gif" height="37" width="37" alt="Celtic Knot" /></a>
            <span class="main_title">phly, boy, phly: matthew weier o'phinney</span>
        </div>

        <nav class="one-half column" id="menu"><ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog.html">Blog</a></li>
            <li><a href="/resume">R&eacute;sum&eacute;</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul></nav>
    </header>
