{{#pagination}}
<div class="col-md-8 col-md-offset-2 text-center">
  <ul class="pagination pagination-sm">
    {{^is_first}}
    <li><a href="{{base_path}}" class="first">&lt;&lt;<span class="sr-only">First</span></a></li>
    {{/is_first}}

    {{#previous}}
    <li><a href="{{base_path}}?page={{previous}}">&lt;<span class="sr-only">Previous</span></a></li>
    {{/previous}}

    {{#pages}}
        {{#current}}
    <li class="active"><a href="#">{{number}}</a></li>
        {{/current}}

        {{^current}}
    <li><a href="{{base_path}}?page={{number}}">{{number}}</a></li>
        {{/current}}
    {{/pages}}

    {{#next}}
    <li><a href="{{base_path}}?page={{next}}"><span class="sr-only">Next</span>&gt;</a></li>
    {{/next}}

    {{^is_last}}
    <li><a href="{{base_path}}?page={{last}}" class="last"><span class="sr-only">Last</span>&gt;&gt</a></li>
    {{/is_last}}
  </ul>
</div>
{{/pagination}}
