<ul class="projects">
    <li><a href="https://apigility.org/">Apigility (Project Lead)</a></li>
    <li><a href="http://framework.zend.com/">Zend Framework (Project Lead)</a></li>
    <li><a href="http://www.the-pastry-box-project.net/baker/matthew-weier-ophinney/">The Pastry Box Project 2012</a> (as a Baker)</li>
    <li><a href="http://github.com/phly/conduit">phly/conduit</a> (middleware for PHP)</li>
    <li><a href="http://github.com/phly/http">phly/http</a> (HTTP messages for PHP)</li>
    <li><a href="http://github.com/phly/phly_mustache">Phly_Mustache</a></li>
    <li><a href="http://github.com/phly/phlyty">phlyty</a> (ZF2-based microframework)</li>
    <li>ZF2 Modules
    <ul>
        <li><a href="https://github.com/phly/PhlyBlog">PhlyBlog</a></li>
        <li><a href="https://github.com/weierophinney/PhlyComic">PhlyComic</a></li>
        <li><a href="https://github.com/phly/PhlyCommon">PhlyCommon</a></li>
        <li><a href="https://github.com/phly/PhlyContact">PhlyContact</a></li>
        <li><a href="https://github.com/phly/PhlyMongo">PhlyMongo</a></li>
        <li><a href="https://github.com/phly/PhlyPaste">PhlyPaste</a></li>
        <li><a href="https://github.com/weierophinney/PhlyPeep">PhlyPeep</a> (demo purposes only)</li>
        <li><a href="https://github.com/phly/PhlyRequireJs">PhlyRequireJs</a></li>
        <li><a href="https://github.com/phly/PhlyRestfully">PhlyRestfully</a></li>
        <li><a href="https://github.com/phly/PhlySimplePage">PhlySimplePage</a></li>
        <li><a href="https://github.com/weierophinney/SkeletonCssModule">SkeletonCssModule</a></li>
    </ul>
    </li>
    <li>Tools
    <ul>
        <li><a href="http://p.mwop.net">PhlyPaste</a> (pastebin)</li>
    </ul>
    </li>
</ul>

