<div id="search" style="width:100%;">Loading...</div>
<script type="text/javascript">
    google.load('search', '1', {style: google.loader.themes.ESPRESSO});
    google.setOnLoadCallback(function(){
        new google.search.CustomSearchControl().draw('search');
    }, true);
</script>
