<!DOCTYPE html>
{{%IMPLICIT-ITERATOR}}
{{%SUB-VIEWS}}
<html>
<head>
    <title>{{title}}</title>

{{#css}}
    <link href="{{.}}" rel="stylesheet" type="text/css"></link>
{{/css}}

{{#js_src}}
    <script src="{{url}}" {{#attributes}}{{key}}="{{value}}"{{/attributes}}></script>
{{/js_src}}
{{#js_code}}
    <script language="JavaScript">
  {{#code}}
{{{.}}}
  {{/code}}
    </script>
{{/js_code}}

</head>
<body>
<div class="container_12">
    <div class="grid_12" id="header">
        <a href="/"><img src="/images/logo.gif" height="37" width="37"/></a>
        <span class="main_title">phly, boy, phly: matthew weier o'phinney</span>
    </div>

    <div class="grid_12" id="menu">
        <ul>
            <li><a href="{{home_url}}">Home</a></li>
            <li><a href="{{blog_url}}">Blog</a></li>
            <li><a href="{{comics_url}}">Comics</a></li>
            <li><a href="{{resume_url}}">R&eacute;sum&eacute;</a></li>
        </ul>
    </div>

    {{content}}
    <div class="clear"></div>

    <div class="grid_12 divider">&nbsp;</div>

    <div class="grid_4 footer about">
        <h4>About</h4>
        {{>about}}
    </div>

    <div class="grid_4 footer projects">
        <h4>Projects</h4>
        {{>projects}}
    </div>

    <div class="grid_4 footer tags">
        {{#footer}}{{#tags}}
        <h4>Tag Cloud</h4>
        {{cloud}}
        {{/tags}}{{/footer}}
    </div>
</div>
</body>
</html>
