<p>
    I'm a husband, a father of two, and web architect by day.
</p>

<ul class="resume">
    <li><a href="{{#uri}}{"name": "resume"}{{/uri}}">Resume</a></li>
    <li><a href="https://twitter.com/mwop">Twitter (@mwop)</a></li>
    <li><a href="https://github.com/weierophinney">GitHub</a></li>
</ul>
