<footer class="navbar navbar-inverse"><div class="container-fluid">
  <div class="row">
    <div class="col-md-4 alpha about">
      <h4>About</h4>
      {{>layout::about}}
    </div>

    <div class="col-md-4 projects">
      <h4>Projects</h4>
      {{>layout::projects}}
    </div>

    <div class="col-md-4 omega tags">
      {{$footer}}{{/footer}}
    </div>
  </div>

  <br />

  <div class="copyright">
    Unless otherwise noted, &#169; 2004 - 2016, Matthew Weier O'Phinney
  </div>
</div></footer>
