    <header class="sixteen columns">
        <div class="one-half column logo">
            <a href="{{#uri}}{"name": "home"}{{/uri}}"><img src="/images/logo.gif" height="37" width="37" alt="Celtic Knot" /></a>
            <span class="main_title">phly, boy, phly: matthew weier o'phinney</span>
        </div>

        <nav class="one-half column" id="menu"><ul>
            <li><a href="{{#uri}}{"name": "home"}{{/uri}}">Home</a></li>
            <li><a href="{{#uri}}{"name": "blog"}{{/uri}}">Blog</a></li>
            <li><a href="{{#uri}}{"name": "resume"}{{/uri}}">R&eacute;sum&eacute;</a></li>
            <li><a href="{{#uri}}{"name": "contact"}{{/uri}}">Contact</a></li>
        </ul></nav>
    </header>
