<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <title>phly, boy, phly :: {{$title}}home{{/title}}</title>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="twitter:site" content="@mwop">

  {{! android theme color: http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android }}
  <meta name="theme-color" content="#018401">
  <meta name="msapplication-TileColor" content="#ffffff">

  {{! android install-to-homescreen https://developer.chrome.com/multidevice/android/installtohomescreen }}
  <link rel="manifest" href="/manifest.json">

  {{! favicon }}
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-touch-icon-72x72.png">
  <link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16">

  {{! semantic web }}
  <link rel="me" href="https://plus.google.com/u/1/+MatthewWeierOPhinneyAtHome/about" />
  <link rel="me" href="https://twitter.com/mwop" />
  <link rel="me" href="https://github.com/weierophinney" />
  
  <link href="/css/site.min.css" media="screen" rel="stylesheet" type="text/css">
  <link href="{{#uri}}{"name": "blog.feed", "options": {"type": "atom"}}{{/uri}}" rel="alternate" type="application/atom+xml" title="phly, boy, phly Atom Feed">
  <link href="{{#uri}}{"name": "blog.feed", "options": {"type": "rss"}}{{/uri}}" rel="alternate" type="application/rss+xml" title="phly, boy, phly RSS Feed">
  {{$links}}{{/links}}

  <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script src="https://www.google.com/jsapi?ABQIAAAAGybdRRvLZwVUcF0dE3oVdBTO-MlgA7VGJpGqyqTOeDXlNzyZQxTGq17s-iAB0m0vwqLQ_A2dHhTg2Q"></script>

  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments) },i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-27037983-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
<div class="container">
{{>layout::header}}

    <div class="sixteen columns clearfix content">
        {{$content}}{{/content}}
    </div>

{{>layout::footer}}
{{$scripts}}{{/scripts}}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        WebFont.load({
            custom: {
                families: [
                    'Cardo',
                    'Lato',
                    'Droid Sans Mono',
                    'Libre Baskerville:n4,i4,n7'
                ],
                urls: [
                    '/css/fonts.min.css'
                ],
            }
        });
    });
</script>
</div>
</body>
</html>
