  <link href="{{#uri}}{"name": "blog.feed", "options": {"type": "rss"}}{{/uri}}" rel="alternate" type="application/rss+xml" title="phly, boy, phly RSS Feed">
  <link href="{{#uri}}{"name": "blog.feed", "options": {"type": "atom"}}{{/uri}}" rel="alternate" type="application/atom+xml" title="phly, boy, phly Atom Feed">
  {{$links}}{{/links}}
