<ul class="projects">
    <li><a href="https://docs.zendframework.com/zend-expressive/">Expressive</a> (PSR-15 middleware framework)</li>
    <li><a href="https://apigility.org/">Apigility (Project Lead)</a></li>
    <li><a href="http://framework.zend.com/">Zend Framework (Project Lead)</a></li>
    <li><a href="https://github.com/phly/keep-a-changelog">Keep-A-Changelog CLI tooling.</a></li>
    <li><a href="http://www.the-pastry-box-project.net/baker/matthew-weier-ophinney/">The Pastry Box Project 2012</a> (as a Baker)</li>
    <li><a href="https://docs.zendframework.com/zend-stratigility">Stratigility</a> (PSR-15 middleware for PHP)</li>
    <li><a href="https://docs.zendframework.com/zend-diactoros">Diactoros</a> (PSR-7 HTTP messages for PHP)</li>
    <li><a href="https://phly-mustache.readthedocs.io/en/latest/">phly-mustache</a> (<a href="http://mustache.github.io">mustache</a> templating for PHP)</li>
</ul>

