<!-- build:js public/js/site.min.js -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/lunr.js"></script>
<script src="/js/site.js"></script>
<script src="/js/search.js"></script>
<!-- endbuild -->
{{$scripts}}{{/scripts}}
