  {{! semantic web }}
  <link rel="canonical" href="https://mwop.net/">
  <link rel="me" href="https://plus.google.com/+MatthewWeierOPhinneyAtHome/about">
  <link rel="me" href="https://twitter.com/mwop">
  <link rel="me" href="https://github.com/weierophinney">
  <link rel="me" href="https://keybase.io/mwop">
