<?php

/**
 * Development-only configuration.
 *
 * Put settings you want enabled when under development mode in this file, and
 * check it into your repository.
 *
 * Developers on your team will then automatically enable them by calling on
 * `composer development-enable`.
 */

namespace Mwop;

use Phly\Expressive\OAuth2ClientAuthentication\Debug;
use Psr\Log\LoggerInterface;
use Whoops\Handler\PrettyPageHandler;
use Zend\Expressive\Container;
use Zend\Expressive\Middleware\ErrorResponseGenerator;
use Zend\Expressive\Whoops;
use Zend\Expressive\WhoopsPageHandler;

return [
    'blog' => [
        'cache_enabled' => false,
        'disqus'        => [
            'developer' => 0,
            'key'       => 'phlyboyphly',
        ],
    ],

    'dependencies' => [
        'delegators' => [
            ErrorHandler::class => [
                Factory\LoggingErrorListenerDelegator::class,
            ],
        ],
        'factories' => [
            Debug\DebugProviderMiddleware::class => Debug\DebugProviderMiddlewareFactory::class,
            ErrorResponseGenerator::class => Container\WhoopsErrorResponseGeneratorFactory::class,
            LoggerInterface::class => Factory\AccessLoggerFactory::class,
            Whoops::class => Container\WhoopsFactory::class,
        ],
        'invokables' => [
            WhoopsPageHandler::class => PrettyPageHandler::class,
        ],
    ],

    'oauth2' => [
        'debug' => [],
    ],

    'whoops' => [
        'json_exceptions' => [
            'display'    => true,
            'show_trace' => true,
            'ajax_only'  => true,
        ],
    ],
];
