<?php
/**
 * @license http://opensource.org/licenses/BSD-2-Clause BSD-2-Clause
 * @copyright Copyright (c) Matthew Weier O'Phinney
 */

use Mwop\Factory;
use Psr\Log\LoggerInterface;
use Zend\Stratigility\Middleware\ErrorHandler;

/** @var string */
$messageToAddress = getenv('CONTACT_MESSAGE_TO_ADDRESS');

/**
 * Defines the production settings, using values provided in the environment.
 */
return [
    'dependencies' => [
        'delegators' => [
            ErrorHandler::class => [
                Factory\LoggingErrorListenerDelegator::class,
            ],
        ],
        'factories' => [
            LoggerInterface::class => Factory\AccessLoggerFactory::class,
        ],
    ],
    'blog' => [
        'disqus'  => [
            'key' => 'phlyboyphly',
        ],
    ],
    'contact' => [
        'recaptcha_pub_key'  => getenv('RECAPTCHA_PUB_KEY'),
        'recaptcha_priv_key' => getenv('RECAPTCHA_PRIV_KEY'),
        'message' => [
            'to'   => [$messageToAddress => getenv('CONTACT_MESSAGE_TO_FULLNAME')],
            'from' => null,
            'sender' => [
                'address' => getenv('CONTACT_MESSAGE_SENDER_ADDRESS'),
            ],
        ],
    ],
    'mail' => [
        'transport' => [
            'host'     => getenv('MAIL_TRANSPORT_HOST'),
            'port'     => getenv('MAIL_TRANSPORT_PORT'),
            'ssl'      => 'tls',
            'username' => getenv('MAIL_TRANSPORT_USERNAME'),
            'password' => getenv('MAIL_TRANSPORT_PASSWORD'),
        ],
    ],
    'oauth2' => [
        'debug'  => [],
        'github' => [
            'clientId'     => getenv('OAUTH2_GITHUB_CLIENTID'),
            'clientSecret' => getenv('OAUTH2_GITHUB_CLIENTSECRET'),
            'redirectUri'  => getenv('OAUTH2_GITHUB_REDIRECTURI'),
        ],
        'google' => [
            'clientId'     => getenv('OAUTH2_GOOGLE_CLIENTID'),
            'clientSecret' => getenv('OAUTH2_GOOGLE_CLIENTSECRET'),
            'redirectUri'  => getenv('OAUTH2_GOOGLE_REDIRECTURI'),
            // Enable this to restrict authentication to users at the listed domain:
            // 'hostedDomain' => getenv('OAUTH2_GOOGLE_HOSTEDDOMAIN'),
        ],
    ],
];
