<?php
/**
 * @license http://opensource.org/licenses/BSD-2-Clause BSD-2-Clause
 * @copyright Copyright (c) Matthew Weier O'Phinney
 */

declare(strict_types=1);

use Mwop\Blog\Listener\CacheBlogPostListener;
use Mwop\Contact\Listener\SendContactMessageListener;
use Mwop\App\Factory\AccessLoggerFactory;
use Mwop\App\LoggingErrorListenerDelegator;
use Phly\Swoole\TaskWorker\DeferredListenerDelegator;
use Psr\Log\LoggerInterface;
use Laminas\Stratigility\Middleware\ErrorHandler;

/** @var string */
$messageToAddress = $_ENV['CONTACT_MESSAGE_TO_ADDRESS'];

/**
 * Defines the production settings, using values provided in the environment.
 */
return [
    'dependencies' => [
        'delegators' => [
            CacheBlogPostListener::class => [
                DeferredListenerDelegator::class,
            ],
            ErrorHandler::class => [
                LoggingErrorListenerDelegator::class,
            ],
            SendContactMessageListener::class => [
                DeferredListenerDelegator::class,
            ],
        ],
        'factories' => [
            LoggerInterface::class => AccessLoggerFactory::class,
        ],
    ],
    'blog' => [
        'disqus'  => [
            'key' => 'phlyboyphly',
        ],
        'cache' => [
            'enabled' => true,
        ],
    ],
    'contact' => [
        'recaptcha_pub_key'  => $_ENV['RECAPTCHA_PUB_KEY'],
        'recaptcha_priv_key' => $_ENV['RECAPTCHA_PRIV_KEY'],
        'message' => [
            'to'   => $messageToAddress,
            'from' => null,
            'sender' => [
                'address' => $_ENV['CONTACT_MESSAGE_SENDER_ADDRESS'],
            ],
        ],
    ],
    'mail' => [
        'transport' => [
            'class'    => \Swift_AWSTransport::class,
            'host'     => $_ENV['MAIL_TRANSPORT_HOST'],
            'port'     => $_ENV['MAIL_TRANSPORT_PORT'],
            'ssl'      => 'tls',
            'username' => $_ENV['MAIL_TRANSPORT_USERNAME'],
            'password' => $_ENV['MAIL_TRANSPORT_PASSWORD'],
        ],
    ],
    'mezzio-swoole' => [
        'swoole-http-server' => [
            // Only listen on localhost in production!
            'host'    => '127.0.0.1',
        ],
    ],
    'oauth2' => [
        'debug'  => [],
        'github' => [
            'clientId'     => $_ENV['OAUTH2_GITHUB_CLIENTID'],
            'clientSecret' => $_ENV['OAUTH2_GITHUB_CLIENTSECRET'],
            'redirectUri'  => $_ENV['OAUTH2_GITHUB_REDIRECTURI'],
        ],
        'google' => [
            'clientId'     => $_ENV['OAUTH2_GOOGLE_CLIENTID'],
            'clientSecret' => $_ENV['OAUTH2_GOOGLE_CLIENTSECRET'],
            'redirectUri'  => $_ENV['OAUTH2_GOOGLE_REDIRECTURI'],
            // Enable this to restrict authentication to users at the listed domain:
            // 'hostedDomain' => $_ENV['OAUTH2_GOOGLE_HOSTEDDOMAIN'],
        ],
    ],
];
