<?php
/**
 * @license http://opensource.org/licenses/BSD-2-Clause BSD-2-Clause
 * @copyright Copyright (c) Matthew Weier O'Phinney
 */

namespace Mwop;

use Zend\Expressive\Container;
use Zend\Expressive\Whoops;
use Zend\Expressive\WhoopsPageHandler;

/**
 * This serves as an example of how to enable the Whoops formatter
 * for use with the ErrorHandler middleware.
 */
return [
    'debug' => true,
    'dependencies' => [
        'delegators' => [
            ErrorHandler::class => [
                ErrorHandler\WhoopsFormatterFactory::class,
            ],
        ],
        'factories' => [
            Whoops::class => Container\WhoopsFactory::class,
            WhoopsPageHandler::class => Container\WhoopsPageHandlerFactory::class,
        ],
    ],
];
